<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xiangqi Server</title>
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>

<header>
    <p>Xiangqi Server</p>
</header>


<div class="main">
    <div>
        <h2 class="active-players">Active Players: {{ active_players }}</h2>
    </div>
    <table>
        <thead>
            <tr>
                <th>Game ID</th>
                <th>Game Code</th>
                <th>Players</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.game_code }}</td>
                <td>
                    {% for player in game.players %}
                        {{ player.websocket_id }}<br>
                    {% else %}
                        No player<br>
                    {% endfor %}
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3">No games currently available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
<footer>
    <p>Xiangqi Server <a href="https://github.com/aba2222/xiangqi_server" target="_blank">Source Code</a></p>
</footer>
</body>

</html>
